services:
  postgres:
    image: postgres:16.2
    container_name: postgres
    restart: always

    env_file:
      - ../.env

    ports:
      - "5432:5432"   # OK for dev, remove in prod

    volumes:
      - pgdata:/var/lib/postgresql/data

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:
